*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div{
    width: 65%;
    margin: auto;
    padding-top: 160px;

}
@media(max-width:490px){
    .div{
        width: 80%;
        margin: auto;
    }
}