* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  background-color: rgb(84, 0, 180);
  height: 100vh;
  .controlbackgrounds {
    .divsflex {
      height: 460px;

      display: flex;
      .leftbackground {
        background: #292d32;
        width: 30%;
        .lefttext {
          padding-left: 30px;
          padding-top: 30px;
          padding-right: 70px;

          .controltext1 {
            display: flex;
            gap: 25px;
            flex-direction: column;
            color: white;
            font-family: "Poppins", sans-serif;
            .numbertext {
              display: flex;
              align-items: center;
              text-decoration: none;
              gap: 13px;
              .a1 {
                border: none;
                font-family: "Poppins", sans-serif;
                text-decoration: none;
                background: #4d545a;
                color: white;
                padding: 8px 13px;
                border-radius: 50%;
              }
              .a2 {
                text-decoration: none;
                color: #626c76;
              }
            }
            .numbertext1 {
              display: flex;
              align-items: center;
              text-decoration: none;
              gap: 13px;
              .a1 {
                border: none;
                font-family: "Poppins", sans-serif;
                text-decoration: none;
                background: #4d545a;
                color: white;
                padding: 8px 13px;
                border-radius: 50%;
              }
              .a2 {
                text-decoration: none;
                color: #626c76;
              }
            }
            .numbertext2 {
              display: flex;
              align-items: center;
              text-decoration: none;
              gap: 13px;
              .a1 {
                border: none;
                font-family: "Poppins", sans-serif;
                text-decoration: none;
                background: #4d545a;
                color: white;
                padding: 8px 13px;
                border-radius: 50%;
              }
              .a2 {
                display: flex;
                text-decoration: none;
                color: #626c76;
              }
            }
            .numbertext3 {
              display: flex;
              align-items: center;
              text-decoration: none;
              gap: 13px;
              .a1 {
                border: none;
                font-family: "Poppins", sans-serif;
                text-decoration: none;
                background: #4d545a;
                color: white;
                padding: 8px 13px;
                border-radius: 50%;
              }
              .a2 {
                text-decoration: none;
                color: #626c76;
              }
            }
          }
        }
        .hrleft {
          hr {
            border: 1px solid #ffffff;
          }
        }
      }

      .rightbackground {
        background: #f5f7fa;
        width: 70%;
        .nav {
          padding-left: 30px;
          padding-top: 19px;
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          svg {
            margin-right: 25px;
          }
        }
        .hr {
          padding-top: 14px;
          hr {
            border: 1px solid #e3eaf3;
          }
        }
        .users {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 25px 30px;
          .borders {
            background: #ffffff;
            display: flex;
            align-items: center;
            gap: 22px;
            .photos {
              padding-left: 20px;
              padding-top: 15px;
              padding-bottom: 15px;
              img {
                border-radius: 50%;
                width: 50px;
                height: 50px;
                object-fit: cover;
              }
            }
            .info {
              display: flex;
              flex-direction: column;
              gap: 5px;
              h2 {
                font-family: "Poppins", sans-serif;
                font-size: 14px;
                font-weight: 600;
              }
              h3 {
                color: #828f9a;
                font-family: "Poppins", sans-serif;
                font-size: 12px;
              }
            }
          }
          .borders:hover {
            background: #f0f0f0;
          }
        }
        .hrright {
          hr {
            border: 1px solid #ffffff;
          }
        }
      }
    }
    .twoflex {
      display: flex;
      .onepage {
        background: #292d32;
        width: 30%;
        height: 100px;
        border-top: 1px solid #e3eaf3;
      }
      .twopage {
        background: #ffffff;
        width: 70%;
        height: 100px;
        border-top: 1px solid #e3eaf3;
        .rightbutton {
          display: flex;
          justify-content: flex-end;
          padding: 33px 44px;
          a {
            text-decoration: none;
            border-radius: 5px;
            font-family: "Poppins", sans-serif;
            background-color: #6c70dc;
            border: none;
            color: white;
            padding: 9px 14px;
          }
        }
      }
    }
  }
}
