* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-color: rgb(84, 0, 180);
  height: 100vh;
}
.background .controlbackgrounds .divsflex {
  display: flex;
  height: 460px;
}
.background .controlbackgrounds .divsflex .leftbackground {
  background: #292d32;
  width: 30%;
}
.background .controlbackgrounds .divsflex .leftbackground .lefttext {
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 70px;
}
.background .controlbackgrounds .divsflex .leftbackground .lefttext .controltext1 {
  display: flex;
  gap: 25px;
  flex-direction: column;
  color: white;
  font-family: "Poppins", sans-serif;
}
.background .controlbackgrounds .divsflex .leftbackground .lefttext .controltext1 .numbertext {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 13px;
}
.background .controlbackgrounds .divsflex .leftbackground .lefttext .controltext1 .numbertext .a1 {
  border: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  background: #6c70dc;
  color: white;
  padding: 8px 10px;
  border-radius: 50%;
}
.background .controlbackgrounds .divsflex .leftbackground .lefttext .controltext1 .numbertext .a2 {
  text-decoration: none;
  color: white;
}
.background .controlbackgrounds .divsflex .leftbackground .lefttext .controltext1 .numbertext1 {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 13px;
}
.background .controlbackgrounds .divsflex .leftbackground .lefttext .controltext1 .numbertext1 .a1 {
  border: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  background: #4d545a;
  color: white;
  padding: 8px 13px;
  border-radius: 50%;
}
.background .controlbackgrounds .divsflex .leftbackground .lefttext .controltext1 .numbertext1 .a2 {
  text-decoration: none;
  color: #626c76;
}
.background .controlbackgrounds .divsflex .leftbackground .lefttext .controltext1 .numbertext2 {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 13px;
}
.background .controlbackgrounds .divsflex .leftbackground .lefttext .controltext1 .numbertext2 .a1 {
  border: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  background: #4d545a;
  color: white;
  padding: 8px 13px;
  border-radius: 50%;
}
.background .controlbackgrounds .divsflex .leftbackground .lefttext .controltext1 .numbertext2 .a2 {
  display: flex;
  text-decoration: none;
  color: #626c76;
}
.background .controlbackgrounds .divsflex .leftbackground .lefttext .controltext1 .numbertext3 {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 13px;
}
.background .controlbackgrounds .divsflex .leftbackground .lefttext .controltext1 .numbertext3 .a1 {
  border: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  background: #4d545a;
  color: white;
  padding: 8px 13px;
  border-radius: 50%;
}
.background .controlbackgrounds .divsflex .leftbackground .lefttext .controltext1 .numbertext3 .a2 {
  text-decoration: none;
  color: #626c76;
}
.background .controlbackgrounds .divsflex .leftbackground .hrleft hr {
  border: 1px solid #ffffff;
}
.background .controlbackgrounds .divsflex .rightbackground {
  background: #f5f7fa;
  width: 70%;
}
.background .controlbackgrounds .divsflex .rightbackground .nav {
  padding-left: 30px;
  padding-top: 19px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.background .controlbackgrounds .divsflex .rightbackground .nav svg {
  margin-right: 25px;
}
.background .controlbackgrounds .divsflex .rightbackground .hr {
  padding-top: 14px;
}
.background .controlbackgrounds .divsflex .rightbackground .hr hr {
  border: 1px solid #e3eaf3;
}
.background .controlbackgrounds .divsflex .rightbackground .users {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px 30px;
}
.background .controlbackgrounds .divsflex .rightbackground .users .flexsprice {
  display: flex;
  background: #ffffff;
  align-items: center;
  justify-content: space-between;
}
.background .controlbackgrounds .divsflex .rightbackground .users .flexsprice .borders {
  background: #ffffff;
  display: flex;
  align-items: center;
  gap: 22px;
  cursor: pointer;
}
.background .controlbackgrounds .divsflex .rightbackground .users .flexsprice .borders .photos {
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.background .controlbackgrounds .divsflex .rightbackground .users .flexsprice .borders .photos img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.background .controlbackgrounds .divsflex .rightbackground .users .flexsprice .borders .info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.background .controlbackgrounds .divsflex .rightbackground .users .flexsprice .borders .info h2 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.background .controlbackgrounds .divsflex .rightbackground .users .flexsprice .borders .info h3 {
  color: #828f9a;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
.background .controlbackgrounds .divsflex .rightbackground .users .flexsprice .price {
  padding-right: 20px;
}
.background .controlbackgrounds .divsflex .rightbackground .users .flexsprice .price h2 {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 500;
  color: #4fbf65;
}
.background .controlbackgrounds .divsflex .rightbackground .hrright hr {
  border: 1px solid #ffffff;
}
.background .controlbackgrounds .twoflex {
  display: flex;
}
.background .controlbackgrounds .twoflex .onepage {
  background: #292d32;
  width: 30%;
  height: 100px;
  border-top: 1px solid #e3eaf3;
}
.background .controlbackgrounds .twoflex .twopage {
  background: #ffffff;
  width: 70%;
  height: 100px;
  border-top: 1px solid #e3eaf3;
}
.background .controlbackgrounds .twoflex .twopage .rightbutton {
  display: flex;
  justify-content: space-between;
  padding: 33px 44px;
}
.background .controlbackgrounds .twoflex .twopage .rightbutton .button1 {
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  background-color: #e3eaf3;
  cursor: pointer;
  border: none;
  color: #8f9ca7;
  padding: 9px 14px;
}
.background .controlbackgrounds .twoflex .twopage .rightbutton a {
  text-decoration: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  background-color: #6c70dc;
  cursor: pointer;
  border: none;
  color: white;
  padding: 10px 14px;
}

@media (max-width: 490px) {
  .background .controlbackgrounds .divsflex .leftbackground {
    display: none;
  }
  .background .controlbackgrounds .divsflex .rightbackground {
    width: 100%;
  }
  .background .controlbackgrounds .twoflex .onepage {
    display: none;
  }
  .background .controlbackgrounds .twoflex .twopage {
    width: 100%;
  }
}/*# sourceMappingURL=index.module.css.map */